.emptyState {
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #f9fafb;
}

.emptyStateText {
  color: #6b7280;
}

.container {
  width: 100%;
  min-width: 0; /* Prevents flex items from overflowing */
  color: var(--foreground);
  background-color: var(--background);
  border-radius: 0.5rem;
  box-shadow: 2px 1px 2px var(--shadow),inset 3px 2px 5px var(--highlight);
  transition: all .5s;
  display: flex;
  flex-direction: column;
}

.container:hover {
  box-shadow: -2px -1px 2px var(--shadow),inset -3px -2px 3px var(--highlight);
}

.orgLink {
  font-size: 0.875rem;
  padding: 0.25rem 0.25rem 0 0.25rem;
  display: block;
  font-weight: 500;
  transition: color 0.2s;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  
}

.orgLink:hover {
  color: blue;
}

.thumbnailWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-top-right-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* Prevents the thumbnail from shrinking */
}

.thumbnailImage {
  width: 95%;
  height: 95%;
  object-fit: cover;
}

.playButtonOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playIcon {
  width: 3rem;
  height: 3rem;
  color: white;
  opacity: 0.9;
}

.thumbnailBorder {
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: 0.25rem;
}

.titleContainer {
  padding: 0rem 0.25rem 0.25rem 0.25rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  flex: 1; /* Allows the title container to take remaining space */
  min-width: 0; /* Prevents overflow */
}

.titleText {
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

