.card {
  background-color: var(--background);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-shadow: 2px 1px 1px var(--shadow),inset 3px 2px 5px var(--highlight);
  transition: all .5s;
}

.card:hover {
  box-shadow: -2px -1px 2px var(--shadow),inset -3px -2px 3px var(--highlight);
}

.gameSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--shadow);
  box-shadow: inset -1px 0 0 var(--highlight);
  padding: 1rem;
  min-width: 120px;
  text-decoration: none;
}

.gameLogo {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.gameName {
  font-size: 0.875rem;
  color: var(--foreground);
}

.eventSection {
  flex: 1;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.eventLink {
  color: var(--foreground);
  text-decoration: none;
}

.eventName {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.eventDates {
  font-size: 0.875rem;
  color: var(--foreground);
}

.noEventText {
  color: #4b5563;
}
